@if (Location?.Price > 0)
{
    <div class="d-flex">
        <Card Margin="Margin.Is3.FromBottom.IsAuto.FromRight">
            <CardTitle Padding="Padding.Is3.OnX" Alignment="TextAlignment.Center" Style="@($"background: {Location.Color}; color: {Location.Color.TextColor()};")">
                <Heading Size="HeadingSize.Is6" Margin="Margin.Is0" Casing="CharacterCasing.Upper">Title Deed</Heading>
                <Heading Size="HeadingSize.Is4">@Location.Name</Heading>
            </CardTitle>
            <CardText>
                <Container>
                    @if (!string.IsNullOrEmpty(Location.Icon))
                    {
                        <Heading Size="HeadingSize.Is3" Class="text-center">
                            <Icon Name="@($"fa-{Location.Icon}")" />
                        </Heading>
                    }
                    <div class="text-center">Rent @Location.Rent(0).ToString("C0")</div>
                    @for (int x = 1; x <= Location.MaxImprovements(CurrentGame); x++)
                    {
                        var i = x;
                        <Row Class="@(i == Location.Improvements ? "font-weight-bold" : "")">
                            <Column ColumnSize="ColumnSize.IsAuto" Margin="Margin.IsAuto.FromRight">@Location.ImprovementDescription(i)</Column>
                            <Column ColumnSize="ColumnSize.IsAuto">@Location.Rent(i).ToString("C0")</Column>
                        </Row>
                    }
                    <div class="text-center">Mortgage Value @Location.MortgageValue().ToString("C0")</div>
                    @if (Location.UpgradeCost > 0)
                    {
                        <div class="text-center">Houses Cost @Location.UpgradeCost.ToString("C0")</div>
                    }
                    @if (Location.IsMortgaged)
                    {
                        <div class="overlay">
                            <div class="text-centered">
                                <Heading Size="HeadingSize.Is4">Mortgaged</Heading>
                                <Heading Size="HeadingSize.Is6">Pay-Off: @Location.MortgageCost().ToString("C0")</Heading>
                            </div>
                        </div>
                    }
                </Container>
                <div class="text-center">
                    @ChildContent
                </div>
            </CardText>
        </Card>
    </div>
}
@code {
    [Parameter] public Game CurrentGame { get; set; }
    [Parameter] public Location Location { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
